<div class="navb">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img alt="Home" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" title="Home" width="65" class="ng-star-inserted">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><b>Angular</b></a>
                </li>

            </ul>
        </div>
    </nav>
</div>